body {
    font-family: 'Space Grotesk', sans-serif;
}


.w-1\/2{
    width: 100%;
}

.max-w-3xl{
    max-width: 90rem;
}

a{
    color: plum;
    text-decoration: inherit;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #e6e6e6; /* Light text */
  }

p code, li code {
background-color: #333;
color: #f8f8f8;
padding: 0.2rem 0.4rem;
border-radius: 3px;
margin: 0 0.2rem;  /* Add horizontal margin */
font-family: 'Courier New', Courier, monospace;
font-size: 0.9em;
border: 1px solid #444;  /* Add subtle border */
}

/* If you want to add a subtle visual indicator before and after */
p code::before, li code::before {
content: "";
margin-right: 0.1rem;
}

p code::after, li code::after {
content: "";
margin-left: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
  }

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
  
  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.6rem;
  }
  
  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
  
  h5 {
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
  }
  
  h6 {
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
  }
  
  p {
    font-size: 1rem;
  }